*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #fafafa;
    font-family: Helvetica, sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.left{
    position: relative;
}

.screen{
    position: absolute;
    left: 150px;
    top: 100px;
}

.panel{
     width: 350px;
     background-color: #ffffff;
     border: 1px solid #dedede;
     border-radius: 2px;
     padding: 20px 40px;
     margin: 5px 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     font-size: 14px;
}

.profile-picture{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.insta-login{
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
/*text-decoration: none;*/
}

.insta-logout{
    color: #0095f6;
    margin-top: 1rem;
    /*text-decoration: none;*/
}

#logo{
    width: 65%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.not-account{
    color: #A0A0A0;

}

.link-blue{
    color: #0095F6;
}

.apps{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin: 20px 0;
}
.apps-stores{
    display: flex;
    gap: 10px;
    margin-top: 20px;

}
.apps-stores img{
    width: 140px;
    height: auto;
}

footer{
    max-width: 35em;
    margin-bottom: 40px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
    list-style: none;
    gap: 10px;
    margin: 20px 0;
}

li a {
    color: #8a8a8a;
    text-decoration: none;
}

/*MEDIA QUERIES*/

@media (max-width: 1024px){
    .wrapper{
        width: 90%;
    }
}

@media (max-width: 650px){
    body {
        background-color: #ffffff;
    }

    .wrapper {
        width: 90%;
    }

    .left{
        display: none;
    }
    
    .panel {
        width: 100%;
        border: 1px solid transparent;
    }
}